/**
 * Text meant only for screen readers.
 */

.screen-reader-text {
	font-size: 75%;
	height: 1px;
	left: -100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 1px;
	word-wrap: normal;
	&:focus {
		height: auto;
		left: 0;
		padding: 10px;
		width: auto;
	}
}
